@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.about {
    .background {
        position: absolute;
        top: 0;
        z-index: -100;
        background-image: url(../public/landing.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
    }

    .navbar__links {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 30%;
        color: black;
        font-size: 1.1rem;
        margin-top: -1.9rem;
    }

    .navbar__links a {
        transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        font-family: Lato, sans-serif;
        font-weight: bold;
        opacity: 0.7;
        padding: 0.4rem;
    }

    .navbar__links a:hover {
        opacity: 0.8;
        transform: scale(1.1);
    }

    background-color: white;
    height: 100vh;
    color: black;

    .parentDiv {
        margin-left: 70px;
        font-family: 'arial';
        margin-top: 50px;
        
        .aboutUsTitle{
            font-size: 50px;
            font-weight: 900;
            color: indigo;
            margin-bottom: 30px;
        }
        .paragraph {
            width: 900px;
            color: #7e8183;
            font-size: 18px;
            line-height: 25.5px;
        }
        .button {
            margin-top: 20px;
            font-size: 24px;
            background-color: orange;
            border: 1px solid orange;
            border-radius: 50px;
            padding: 10px;
        }
    }
}