@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.background {
    position: absolute;
    top: 0;
    z-index: -100;
    background-image: url(../public/landing.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.navbar__links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
    color: black;
    font-size: 1.1rem;
    margin-top: -1.9rem;
}

.navbar__links a {
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    font-family: Lato, sans-serif;
    font-weight: bold;
    opacity: 0.7;
    padding: 0.4rem;
}

.navbar__links a:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

.hero {
    width: 70%;
    height: 50%;
    font-family: "DM Sans", sans-serif;
    font-size: 4.3rem;
    color: black;
    margin-top: 2rem;
    margin-left: 2rem;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
}

.decision {
    font-family: "Pacifico", cursive;
    color: rgba(70, 121, 240, 0.9);
}

.hero__subtext {
    color: black;
    opacity: 0.7;
    font-size: 1.2rem;
    width: 45%;
    font-family: "DM Sans", sans-serif;
    margin-top: 0.4rem;
    margin-left: 2rem;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
}

.hero__button button {
    margin-top: 2.5rem;
    margin-left: 2rem;
    font-family: "DM Sans", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: rgba(70, 121, 240, 0.9);

    border: rgba(46, 46, 46, 0.5) 1px solid;
    background-color: transparent;
    border-radius: 0.2 3rem;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.hero__button button:hover {
    transform: translateY(-3px);
}

.barSection {
    margin-top: 2rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
}

.bar {
    background-color: rgba(70, 121, 240, 0.5);
    width: 12px;
    border-radius: 0.2rem;
    animation-name: animateIn;
    animation-duration: 3s;
    animation-delay: 250ms;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes animateIn {
    0% {
        opacity: 0;
        transform: scale(0.6) translateY(-8px);
    }

    100% {
        opacity: 1;
    }
}
