$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;

.register {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        180deg,
        rgba(11, 116, 176, 0.5) 0%,
        rgba(117, 71, 156, 0.35574) 53.65%,
        rgba(189, 56, 97, 0.5) 100%
    );
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;

    .box {
        width: Max(60%, 300px);
        height: 70%;
        opacity: 1;
        border-radius: 10px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
            0 10px 10px rgba(0, 0, 0, 0.22);
        overflow: hidden;
        background-image: url("http://t2.gstatic.com/licensed-image?q=tbn:ANd9GcSHBR8xUtvyWxWdjZ7Y-A0lOrHSBOwF6Z-lCt9w6P5I0MuIThLK2baLWX5Cqp3DNBJ8");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        h1 {
            font-weight: bold;
            margin: 0;
        }

        p {
            font-size: 14px;
            font-weight: 100;
            line-height: 20px;
            letter-spacing: 0.5px;
            margin: 20px 0 30px;
        }

        span {
            font-size: 12px;
        }

        a {
            color: #333;
            font-size: 14px;
            text-decoration: none;
            margin: 15px 0;
        }

        button {
            border-radius: 20px;
            border: 1px solid #ff4b2b;
            background-color: #ff4b2b;
            color: #ffffff;
            font-size: 12px;
            font-weight: bold;
            padding: 12px 45px;
            letter-spacing: 1px;
            text-transform: uppercase;
            transition: transform 80ms ease-in;
            margin-top: 10px;
        }

        button:active {
            transform: scale(0.95);
        }

        button:focus {
            outline: none;
        }

        button.ghost {
            background-color: transparent;
            border-color: #ffffff;
        }

        .googleBtn {
            width: Min(100%, 300px);
            height: 42px;
            margin-bottom: 10px;
            background-color: $google-blue;
            border-radius: 2px;
            box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
            .googleIconWrapper {
                // position: absolute;
                margin-top: 1px;
                margin-left: 1px;
                width: 40px;
                height: 40px;
                border-radius: 2px;
                background-color: $white;
            }
            .googleIcon {
                // position: absolute;
                margin-top: 11px;
                // margin-left: 11px;
                width: 18px;
                height: 18px;
            }
            .btnText {
                position: relative;
                // margin: 11px 11px 0 0;
                transform: translate(0, -40px);
                margin: 11px 0;
                margin-left: 30px;
                color: $white;
                font-size: 14px;
                font-weight: 300;
                letter-spacing: 0.2px;
                font-family: "Poppins";
            }
            &:hover {
                box-shadow: 0 0 6px $google-blue;
            }
            &:active {
                background: $button-active-blue;
            }
        }

        form {
            background-color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 0 50px;
            height: 100%;
            text-align: center;
        }

        input {
            background-color: #eee;
            border: none;
            padding: 12px 15px;
            margin: 5px 0;
            width: Min(100%, 300px);
        }

        .left {
            background-color: white;
            // background-color: rgba(41, 39, 39, 0.3);
            width: Max(50%, 300px);
            height: 100%;
            flex: 1;
            // position: absolute;

            form {
                justify-content: center;
                // position: absolute;
                top: 0;
                height: 100%;
                transition: all 0.6s ease-in-out;
                @media (max-width: 1100px) {
                    overflow-y: auto;
                }

                .loginLinkText {
                    transform: translate(0, 20px);
                    // font-size: 12px;
                    .loginLink {
                        color: #ff4b2b;
                        font-size: 16px;
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }

            h1 {
                margin: 0;
                text-align: center;
                // padding-top: 10px;
                margin-bottom: 20px;
            }
            // @media (max-width: 1200) {
            //     h1 {
            //         padding-top: -40px;
            //     }
            // }
        }

        .right {
            height: 100%;
            position: relative;

            width: clamp(300px, 60%, 60%) !important;
        }
    }
}
